.table-tasks {
  padding-top: 10px;
  padding-left: 210px;
  padding-right: 10px;
  table-layout: fixed;
  align-content: center; 
}

.div-bot {
  padding-top: 10px;
  padding-left: 210px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;  
}

.button-tasks {
  color: #7422E6;
  border-radius: 0px;
  border: none;
  background-color: #03DAC5;
  font-weight:800;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.create-task-form {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 210px;
  padding-right: 10px;
  table-layout: fixed;
  align-content: center; 
}

.radio {
  vertical-align: middle;
  display: inline-flex;
  justify-content: space-between;
  float: left;
}

.ant-btn.ant-btn {
  background-color: #7422E6;
  border: none;
  color: #03DAC5;
  font-weight:800;
  height: 27px;
}

.ant-btn[disabled].ant-btn[disabled] {
  opacity: 0.4;
  color: #03DAC5;
  background-color: #7422E6;
  border-color: #7422E6;
}